/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 230, 230);
  transition: background-color 0.3s;
}

.title {
  font-size: 6rem;
  letter-spacing: 0.75rem;
  margin-bottom: 2rem;
  transition: color 0.2s;
}

.form {
  font-size: 4rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6rem;
  width: 50rem;
}

.form input {
  font-size: 3.5rem;
  font-weight: 400;
  flex: 1;
  outline: transparent;
  background-color: transparent;
  letter-spacing: 0.75rem;
}

.input--dark {
  color: rgba(0, 0, 0, 0.7);
  border: none;
  border-bottom: 1.5px dotted rgba(0, 0, 0, 0.3);
}

.input--dark:focus {
  border-bottom: 1.75px dotted rgb(0, 0, 0);
}

.input--light {
  color: rgb(255, 255, 255, 0.7);
  border: none;
  border-bottom: 1.5px dotted rgba(255, 255, 255, 0.3);
}

.input--light:focus {
  border-bottom: 1.75px dotted rgb(255, 255, 255);
}

.form__submit {
  background-color: transparent;
  font-size: 4rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border: 1px dotted rgba(0, 0, 0, 1);

  outline: transparent;
  border-radius: 1rem;
  cursor: pointer;
}

.form__submit:hover {
  font-weight: 600;
  border: 1px solid rgb(0, 0, 0);
}

.color__container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.copy__icon {
  fill: #00000070;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.copy__icon--light {
  fill: #ffffff70;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  align-self: flex-end;
}
.copy__icon:hover {
  transform: scale(1.1);
  fill: #000000;
}

.copy__icon--light:hover {
  transform: scale(1.1);
  fill: #ffffff;
}

.color-scheme {
  display: flex;
  flex-wrap: wrap;
  margin: 10rem 4rem;
  gap: 1.5rem;
}

.color__preview {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  letter-spacing: 0.5rem;
  transition: all 0.2s;
}

.color__preview-light {
  color: transparent;
}

.color__preview-dark {
  color: transparent;
}

.color__preview-light:hover {
  color: rgba(255, 255, 255);
  transform: scale(1.1);
}
.color__preview-dark:hover {
  color: rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
}

.click-animation {
  animation: click 0.3s forwards;
}

@keyframes click {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
